In [1]:
import warnings
warnings.filterwarnings('ignore')
    
import pandas as pd
import numpy as np
import datetime
price_raw = pd.read_csv('dataset/minuteByminutePrice/priceDataJanuary2019.csv')
news_raw = pd.read_csv('dataset/minuteByminutePrice/data_jan_2019_analysis.csv')

In [2]:
# Convert news to minute by minute dataset
news_data = news_raw[['SENTIMENT_VALUE','relevance','pub_date']]
news_data['pub_date'] =  pd.to_datetime(news_data['pub_date'], format='%Y-%m-%d %H:%M:%S')

def round_timestamp(t):
    t = datetime.datetime(t.year, t.month, t.day, t.hour, t.minute, 0)  
    return t

news_data['timestamp_rounded'] = news_data['pub_date'].apply(round_timestamp)
news_data.head()

   SENTIMENT_VALUE  relevance            pub_date   timestamp_rounded
0             -0.4          1 2019-01-01 00:36:31 2019-01-01 00:36:00
1             -1.0          1 2019-01-01 00:45:40 2019-01-01 00:45:00
2             -0.9          1 2019-01-01 01:04:01 2019-01-01 01:04:00
3              1.0          1 2019-01-01 01:44:15 2019-01-01 01:44:00
4              0.9          1 2019-01-01 05:18:48 2019-01-01 05:18:00

In [3]:
# Aggregate news_data
news_data['value'] = news_data['SENTIMENT_VALUE'] *  news_data['relevance'] 
# news_data.groupby('pub_date_rounded').agg({'SENTIMENT_VALUE':['sum', 'max','count'], 
#                          'relevance': lambda x: x.max() - x.min()})
# 2019-01-01 10:00:00	
news_data_aggregated = news_data.groupby('timestamp_rounded').agg({'value':['mean', 'count']})
news_data_aggregated.head(10)

                        value
                         mean count
timestamp_rounded
2019-01-01 00:36:00 -0.400000     1
2019-01-01 00:45:00 -1.000000     1
2019-01-01 01:04:00 -0.900000     1
2019-01-01 01:44:00  1.000000     1
2019-01-01 05:18:00  0.900000     1
2019-01-01 08:24:00 -0.700000     1
2019-01-01 10:00:00  0.333333     3
2019-01-01 13:37:00 -1.000000     1
2019-01-01 15:28:00  1.000000     1
2019-01-01 15:43:00 -0.900000     1

In [4]:
# process price_data
price_raw['timestamp'] = price_raw['Date'] + ' ' + price_raw['Time']
price_raw['timestamp'] =  pd.to_datetime(price_raw['timestamp'], format='%Y-%m-%d %H:%M:%S')
price_raw['timestamp_rounded'] = price_raw['timestamp'].apply(round_timestamp)

price_raw.head()

,Unnamed: 0,Open,High,Low,Close,Volume,Time,Date,timestamp,timestamp_rounded
0,3676576,3693.85,3698.79,3693.85,3698.00,5.491289,00:00:00,2019-01-01,2019-01-01 00:00:00,2019-01-01 00:00:00
1,3676577,3694.72,3694.72,3690.65,3690.65,9.500151,00:01:00,2019-01-01,2019-01-01 00:01:00,2019-01-01 00:01:00
2,3676578,3689.73,3689.73,3686.62,3686.62,0.965966,00:02:00,2019-01-01,2019-01-01 00:02:00,2019-01-01 00:02:00
3,3676579,3692.85,3692.85,3688.32,3692.35,0.296662,00:03:00,2019-01-01,2019-01-01 00:03:00,2019-01-01 00:03:00
4,3676580,3692.35,3692.35,3690.34,3690.34,0.111622,00:04:00,2019-01-01,2019-01-01 00:04:00,2019-01-01 00:04:00

In [5]:
price_data_aggregated = price_raw.groupby('timestamp_rounded').agg({
    'Open':['mean'],
    'High':['max'],
    'Low':['min'],
    'Close':['mean'],
    'Volume':['mean'] 
})

price_raw.count()

Unnamed: 0           40142
Open                 40142
High                 40142
Low                  40142
Close                40142
Volume               40142
Time                 40142
Date                 40142
timestamp            40142
timestamp_rounded    40142
dtype: int64

In [6]:
final_data = price_data_aggregated.join(news_data_aggregated, how='outer', on = ['timestamp_rounded'])
final_data.count()
final_data = final_data.reset_index()
final_data.columns = ['Timestamp_Rounded', 'Open','High','Low','Close','Volume','Sentiment_Value','news_count']
# Fill null values for news with 0 (neutrial news ?!)
final_data['news_count'] = final_data['news_count'].fillna(0)
final_data['Sentiment_Value'] = final_data['Sentiment_Value'].fillna(0)
final_data

,Timestamp_Rounded,Open,High,Low,Close,Volume,Sentiment_Value,news_count
0,2019-01-01 00:00:00,3693.85,3698.79,3693.85,3698.00,5.491289,0.0,0.0
1,2019-01-01 00:01:00,3694.72,3694.72,3690.65,3690.65,9.500151,0.0,0.0
2,2019-01-01 00:02:00,3689.73,3689.73,3686.62,3686.62,0.965966,0.0,0.0
3,2019-01-01 00:03:00,3692.85,3692.85,3688.32,3692.35,0.296662,0.0,0.0
4,2019-01-01 00:04:00,3692.35,3692.35,3690.34,3690.34,0.111622,0.0,0.0
5,2019-01-01 00:05:00,3690.40,3690.85,3690.40,3690.85,2.247676,0.0,0.0
6,2019-01-01 00:06:00,3688.61,3688.61,3687.08,3687.08,1.556315,0.0,0.0
7,2019-01-01 00:07:00,3684.59,3685.52,3684.59,3684.77,0.823009,0.0,0.0
8,2019-01-01 00:08:00,3684.97,3688.79,3683.45,3683.45,4.493121,0.0,0.0
9,2019-01-01 00:09:00,3685.00,3685.12,3684.58,3685.12,1.077187,0.0,0.0
10,2019-01-01 00:10:00,3685.46,3694.96,3684.91,3694.96,3.583453,0.0,0.0
11,2019-01-01 00:15:00,3690.83,3690.85,3690.83,3690.85,0.443813,0.0,0.0
12,2019-01-01 00:16:00,3690.61,3690.61,3687.96,3687.96,0.150000,0.0,0.0
13,2019-01-01 00:18:00,3690.15,3690.15,3690.15,3690.15,0.005000,0.0,0.0
14,2019-01-01 00:20:00,3688.75,3688.85,3688.75,3688.85,0.922095,0.0,0.0
15,2019-01-01 00:22:00,3688.35,3688.35,3688.35,3688.35,1.063004,0.0,0.0
16,2019-01-01 00:23:00,3688.35,3688.35,3688.35,3688.35,0.102770,0.0,0.0
17,2019-01-01 00:25:00,3684.81,3684.81,3684.81,3684.81,0.116025,0.0,0.0
18,2019-01-01 00:26:00,3684.81,3688.35,3684.81,3688.35,0.162767,0.0,0.0
19,2019-01-01 00:28:00,3688.85,3688.85,3688.85,3688.85,0.018166,0.0,0.0
20,2019-01-01 00:29:00,3686.27,3688.85,3686.27,3688.85,0.503600,0.0,0.0
21,2019-01-01 00:30:00,3688.85,3688.85,3688.85,3688.85,2.339559,0.0,0.0
22,2019-01-01 00:31:00,3688.85,3688.85,3688.85,3688.85,12.912918,0.0,0.0
23,2019-01-01 00:32:00,3689.10,3693.98,3689.10,3693.98,4.554418,0.0,0.0
24,2019-01-01 00:33:00,3693.73,3698.50,3693.73,3697.06,5.404000,0.0,0.0
25,2019-01-01 00:34:00,3697.06,3698.49,3694.57,3698.49,0.566454,0.0,0.0
26,2019-01-01 00:35:00,3697.84,3697.85,3695.58,3695.58,2.534310,0.0,0.0
27,2019-01-01 00:36:00,3695.58,3696.87,3693.14,3696.87,4.185164,-0.4,1.0
28,2019-01-01 00:38:00,3695.26,3695.26,3695.26,3695.26,0.197947,0.0,0.0
29,2019-01-01 00:39:00,3696.87,3696.87,3696.87,3696.87,0.045916,0.0,0.0
...,...,...,...,...,...,...,...,...
40179,2019-01-18 01:26:00,NaN,NaN,NaN,NaN,NaN,-0.2,1.0
40180,2019-01-19 00:46:00,NaN,NaN,NaN,NaN,NaN,-0.6,1.0
40181,2019-01-19 18:07:00,NaN,NaN,NaN,NaN,NaN,-1.0,1.0
40182,2019-01-19 21:56:00,NaN,NaN,NaN,NaN,NaN,-1.0,1.0
40183,2019-01-20 00:47:00,NaN,NaN,NaN,NaN,NaN,0.9,1.0
40184,2019-01-20 02:27:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0
40185,2019-01-20 17:00:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0
40186,2019-01-20 17:32:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0
40187,2019-01-21 00:46:00,NaN,NaN,NaN,NaN,NaN,0.3,1.0
40188,2019-01-21 11:05:00,NaN,NaN,NaN,NaN,NaN,-0.8,1.0
40189,2019-01-22 19:35:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0
40190,2019-01-22 20:51:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0
40191,2019-01-23 04:59:00,NaN,NaN,NaN,NaN,NaN,-1.0,1.0
40192,2019-01-23 05:09:00,NaN,NaN,NaN,NaN,NaN,-0.9,1.0
40193,2019-01-23 11:09:00,NaN,NaN,NaN,NaN,NaN,0.8,1.0
40194,2019-01-23 16:49:00,NaN,NaN,NaN,NaN,NaN,-1.0,1.0
40195,2019-01-23 23:57:00,NaN,NaN,NaN,NaN,NaN,-1.0,1.0
40196,2019-01-24 17:26:00,NaN,NaN,NaN,NaN,NaN,-1.0,1.0
40197,2019-01-25 00:29:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0
40198,2019-01-25 01:10:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0
40199,2019-01-25 04:55:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0
40200,2019-01-25 22:28:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0
40201,2019-01-25 23:47:00,NaN,NaN,NaN,NaN,NaN,-1.0,1.0
40202,2019-01-26 00:36:00,NaN,NaN,NaN,NaN,NaN,0.6,1.0
40203,2019-01-26 18:47:00,NaN,NaN,NaN,NaN,NaN,0.9,1.0
40204,2019-01-26 19:30:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0
40205,2019-01-27 16:13:00,NaN,NaN,NaN,NaN,NaN,-0.6,1.0
40206,2019-01-27 21:59:00,NaN,NaN,NaN,NaN,NaN,0.9,1.0
40207,2019-01-27 23:27:00,NaN,NaN,NaN,NaN,NaN,0.9,1.0
40208,2019-01-28 21:09:00,NaN,NaN,NaN,NaN,NaN,1.0,1.0

In [7]:
final_data.to_csv('dataset/aggregated/min_by_min/jan.csv')